<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="accountService" class="spring.service.AccountServiceImpl" name= "service" autowire="constructor" depends-on="account,accountDao">
        <!--<property name="accountDao" ref="accountDao"/>-->
    </bean>
    <alias name="service" alias="serviceAlias"/>

    <bean id="accountDao" autowire-candidate="true" class="spring.dao.AccountDaoInMemoryImpl">
    </bean>

   <!-- <bean id="accountDaoJdbc"  autowire-candidate="false" class = "spring.dao.AccountDaoJdbcImpl">
    </bean>-->

    <bean id="autowireCheck" class="spring.dao.AutowireCheck">
    <property name="name" value="Autowired"></property>
    </bean>

    <bean id="account" class = "spring.model.Account" name = "account">
        <property name="ownerName" value = "Ganga"/>
        <constructor-arg type = "String" value = "Ganga"/>
    </bean>
</beans>